target/
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
*.o
table_*_terminal.txt
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.out
.vscode/
*.jpeg
*.pdf
log/
*.log
__pycache__
.venv/
.DS_Store